In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
ab_cost = pd.read_csv('./datasets/abortion_costs_simplified_eks.csv')

In [3]:
ab_cost.head(10)

         county total_expenditures
0       Alameda       $400,818.06
1        Amador           $268.49
2         Butte       $179,813.97
3     Calaveras         $3,993.16
4        Colusa         $1,066.25
5  Contra Costa       $860,001.75
6     Del Norte           $303.22
7     El Dorado        $11,480.59
8        Fresno       $610,093.30
9         Glenn         $5,855.55

In [4]:
ab_cost.loc[51, 'county'] = 'Trinity'

ab_cost.loc[51, 'total_expenditures'] = '0.0'

In [5]:
ab_cost

             county total_expenditures
0           Alameda       $400,818.06
1            Amador           $268.49
2             Butte       $179,813.97
3         Calaveras         $3,993.16
4            Colusa         $1,066.25
5      Contra Costa       $860,001.75
6         Del Norte           $303.22
7         El Dorado        $11,480.59
8            Fresno       $610,093.30
9             Glenn         $5,855.55
10         Humboldt        $72,043.25
11         Imperial        $22,656.33
12             Inyo         $1,660.82
13             Kern       $373,915.27
14            Kings        $12,667.67
15             Lake         $8,858.93
16           Lassen         $1,405.71
17      Los Angeles     $6,451,591.05
18           Madera        $53,610.21
19            Marin       $137,681.55
20         Mariposa         $1,547.72
21        Mendocino        $53,800.14
22           Merced        $26,036.33
23            Modoc           $507.09
24             Mono           $284.80
25         Monterey       $160,011.20
26             Napa        $71,130.79
27           Nevada         $5,166.20
28           Orange     $1,058,066.55
29           Placer       $134,154.44
30           Plumas         $1,044.07
31        Riverside       $759,009.13
32       Sacramento       $662,075.55
33       San Benito        $17,959.05
34   San Bernardino     $1,285,805.76
35        San Diego       $989,643.24
36    San Francisco       $389,019.51
37      San Joaquin       $275,769.30
38  San Luis Obispo        $65,447.47
39        San Mateo       $209,533.35
40    Santa Barbara       $146,329.56
41      Santa Clara       $707,896.94
42       Santa Cruz       $156,590.60
43           Shasta        $70,095.63
44           Sierra           $507.09
45         Siskiyou         $1,578.46
46           Solano       $272,060.71
47           Sonoma       $170,796.00
48       Stanislaus       $345,628.18
49           Sutter        $70,620.30
50           Tehama         $6,886.41
51          Trinity                0.0
52           Tulare        $53,036.76
53         Tuolumne         $2,754.90
54          Ventura       $195,961.16
55             Yolo        $45,289.57
56             Yuba         $7,417.30

In [6]:
ab_count = pd.read_csv('./datasets/abortion_counts_simplified_eks.csv')

In [7]:
ab_count.head(10)

         county  abortion_rs_count_total  abortion_rs_count_total_suppressed
0       Alameda                   3932.0                                 0.0
1        Amador                     24.0                                 0.0
2         Butte                   1477.0                                 0.0
3     Calaveras                     95.0                                 0.0
4        Colusa                     31.0                                 0.0
5  Contra Costa                   4938.0                                 0.0
6     Del Norte                     82.0                                 0.0
7     El Dorado                    281.0                                 0.0
8        Fresno                   4894.0                                 0.0
9         Glenn                    115.0                                 0.0

# Merge datasets

In [8]:
ab_combined = pd.merge(ab_count, ab_cost, on = 'county', how = "inner")

In [9]:
ab_combined.shape

(57, 4)

In [10]:
ab_combined.isnull().sum()

county                                0
abortion_rs_count_total               1
abortion_rs_count_total_suppressed    0
total_expenditures                    0
dtype: int64

In [11]:
ab_combined

,county,abortion_rs_count_total,abortion_rs_count_total_suppressed,total_expenditures
0,Alameda,3932.0,0.0,"$400,818.06"
1,Amador,24.0,0.0,$268.49
2,Butte,1477.0,0.0,"$179,813.97"
3,Calaveras,95.0,0.0,"$3,993.16"
4,Colusa,31.0,0.0,"$1,066.25"
5,Contra Costa,4938.0,0.0,"$860,001.75"
6,Del Norte,82.0,0.0,$303.22
7,El Dorado,281.0,0.0,"$11,480.59"
8,Fresno,4894.0,0.0,"$610,093.30"
9,Glenn,115.0,0.0,"$5,855.55"
10,Humboldt,1048.0,0.0,"$72,043.25"
11,Imperial,326.0,0.0,"$22,656.33"
12,Inyo,23.0,0.0,"$1,660.82"
13,Kern,4243.0,0.0,"$373,915.27"
14,Kings,234.0,0.0,"$12,667.67"
15,Lake,392.0,0.0,"$8,858.93"
16,Lassen,98.0,0.0,"$1,405.71"
17,Los Angeles,37817.0,0.0,"$6,451,591.05"
18,Madera,401.0,0.0,"$53,610.21"
19,Marin,936.0,0.0,"$137,681.55"
20,Mariposa,34.0,0.0,"$1,547.72"
21,Mendocino,675.0,0.0,"$53,800.14"
22,Merced,661.0,0.0,"$26,036.33"
23,Modoc,15.0,0.0,$507.09
24,Mono,11.0,0.0,$284.80
25,Monterey,1162.0,0.0,"$160,011.20"
26,Napa,406.0,0.0,"$71,130.79"
27,Nevada,232.0,0.0,"$5,166.20"
28,Orange,6842.0,0.0,"$1,058,066.55"
29,Placer,789.0,0.0,"$134,154.44"
30,Plumas,43.0,0.0,"$1,044.07"
31,Riverside,5662.0,0.0,"$759,009.13"
32,Sacramento,6244.0,0.0,"$662,075.55"
33,San Benito,112.0,0.0,"$17,959.05"
34,San Bernardino,8998.0,0.0,"$1,285,805.76"
35,San Diego,7066.0,0.0,"$989,643.24"
36,San Francisco,3291.0,0.0,"$389,019.51"
37,San Joaquin,4005.0,0.0,"$275,769.30"
38,San Luis Obispo,308.0,0.0,"$65,447.47"
39,San Mateo,2378.0,0.0,"$209,533.35"
40,Santa Barbara,702.0,0.0,"$146,329.56"
41,Santa Clara,3684.0,0.0,"$707,896.94"
42,Santa Cruz,790.0,0.0,"$156,590.60"
43,Shasta,1340.0,0.0,"$70,095.63"
44,Sierra,NaN,1.0,$507.09
45,Siskiyou,165.0,0.0,"$1,578.46"
46,Solano,2642.0,0.0,"$272,060.71"
47,Sonoma,1952.0,0.0,"$170,796.00"
48,Stanislaus,2536.0,0.0,"$345,628.18"
49,Sutter,469.0,0.0,"$70,620.30"
50,Tehama,224.0,0.0,"$6,886.41"
51,Trinity,73.0,0.0,0.0
52,Tulare,585.0,0.0,"$53,036.76"
53,Tuolumne,81.0,0.0,"$2,754.90"
54,Ventura,1913.0,0.0,"$195,961.16"
55,Yolo,671.0,0.0,"$45,289.57"
56,Yuba,252.0,0.0,"$7,417.30"

In [12]:
ab_combined.loc[44, 'abortion_rs_count_total'] = '0.0'

C:\Users\rajes\AppData\Local\Temp\ipykernel_18232\1807855756.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.0' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  ab_combined.loc[44, 'abortion_rs_count_total'] = '0.0'

In [13]:
ab_combined['total_expenditures'] = ab_combined['total_expenditures'].str.replace('$', '')

In [14]:
ab_combined['total_expenditures'] = ab_combined['total_expenditures'].str.replace(',', '')

In [15]:
ab_combined

,county,abortion_rs_count_total,abortion_rs_count_total_suppressed,total_expenditures
0,Alameda,3932.0,0.0,400818.06
1,Amador,24.0,0.0,268.49
2,Butte,1477.0,0.0,179813.97
3,Calaveras,95.0,0.0,3993.16
4,Colusa,31.0,0.0,1066.25
5,Contra Costa,4938.0,0.0,860001.75
6,Del Norte,82.0,0.0,303.22
7,El Dorado,281.0,0.0,11480.59
8,Fresno,4894.0,0.0,610093.30
9,Glenn,115.0,0.0,5855.55
10,Humboldt,1048.0,0.0,72043.25
11,Imperial,326.0,0.0,22656.33
12,Inyo,23.0,0.0,1660.82
13,Kern,4243.0,0.0,373915.27
14,Kings,234.0,0.0,12667.67
15,Lake,392.0,0.0,8858.93
16,Lassen,98.0,0.0,1405.71
17,Los Angeles,37817.0,0.0,6451591.05
18,Madera,401.0,0.0,53610.21
19,Marin,936.0,0.0,137681.55
20,Mariposa,34.0,0.0,1547.72
21,Mendocino,675.0,0.0,53800.14
22,Merced,661.0,0.0,26036.33
23,Modoc,15.0,0.0,507.09
24,Mono,11.0,0.0,284.80
25,Monterey,1162.0,0.0,160011.20
26,Napa,406.0,0.0,71130.79
27,Nevada,232.0,0.0,5166.20
28,Orange,6842.0,0.0,1058066.55
29,Placer,789.0,0.0,134154.44
30,Plumas,43.0,0.0,1044.07
31,Riverside,5662.0,0.0,759009.13
32,Sacramento,6244.0,0.0,662075.55
33,San Benito,112.0,0.0,17959.05
34,San Bernardino,8998.0,0.0,1285805.76
35,San Diego,7066.0,0.0,989643.24
36,San Francisco,3291.0,0.0,389019.51
37,San Joaquin,4005.0,0.0,275769.30
38,San Luis Obispo,308.0,0.0,65447.47
39,San Mateo,2378.0,0.0,209533.35
40,Santa Barbara,702.0,0.0,146329.56
41,Santa Clara,3684.0,0.0,707896.94
42,Santa Cruz,790.0,0.0,156590.60
43,Shasta,1340.0,0.0,70095.63
44,Sierra,0.0,1.0,507.09
45,Siskiyou,165.0,0.0,1578.46
46,Solano,2642.0,0.0,272060.71
47,Sonoma,1952.0,0.0,170796.00
48,Stanislaus,2536.0,0.0,345628.18
49,Sutter,469.0,0.0,70620.30
50,Tehama,224.0,0.0,6886.41
51,Trinity,73.0,0.0,0.0
52,Tulare,585.0,0.0,53036.76
53,Tuolumne,81.0,0.0,2754.90
54,Ventura,1913.0,0.0,195961.16
55,Yolo,671.0,0.0,45289.57
56,Yuba,252.0,0.0,7417.30

# Create X and y

In [16]:
X = ab_combined.drop(columns = ['county', 'total_expenditures'])
y = ab_combined['total_expenditures']

In [17]:
#X

In [18]:
# from sklearn.model_selection import train_test_split

In [19]:
# # X_train, X_test , y_train, y_test = train_test_split(
#     X,
#     y,
#     test_size = 0.2,
#     random_state=42
# )

In [22]:
# instantiate the model
lr = LinearRegression()
# fit the model
lr.fit(X, y)
# score the model - this just is what it is, there's not a lot we can do to fix it, but it's something that will print out so you know everything worked
lr.score(X, y)

0.9857997423566914