In [2]:
# import the packages
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [10]:
# read the data in
data = pd.read_csv('./datasets/ca_dropout_and_predictors.csv')

In [11]:
data.head()

,county,abortion_medicaid_expenditures,abortion_rs_count_total,abortion_rs_count_total_suppressed,daycare_slots_child_facility_capacity,daycare_slots_child_total_pop,daycare_slots_child_rate_slots,daycare_slots_child_num_facility,daycare_slots_child_pct_nonwhite,daycare_slots_infant_facility_capacity,...,num_of_indiv_A12,num_of_indiv_A13,num_of_indiv_A14,num_of_indiv_A15,num_of_indiv_A16,num_of_indiv_A17,num_of_indiv_A18,num_of_indiv_A19,num_of_indiv_A20,medicaid_sum_0_20
0,Alameda,400818.06,3932.0,0.0,30404.0,78508.0,387.272635,528.0,78.641667,2252.0,...,7464.083333,7323.000000,7334.500000,7285.416667,7184.333333,7256.500000,7135.416667,5914.083333,5709.666667,161534.166667
1,Amador,268.49,24.0,0.0,320.0,1202.0,266.222962,14.0,28.785358,24.0,...,147.333333,143.583333,135.250000,144.000000,125.500000,143.000000,135.500000,124.166667,94.666667,3087.333333
2,Butte,179813.97,1477.0,0.0,2984.0,9973.0,299.207861,74.0,41.441893,443.0,...,1377.583333,1375.083333,1356.083333,1298.583333,1338.750000,1350.500000,1332.500000,1382.166667,1363.083333,30933.083331
3,Calaveras,3993.16,95.0,0.0,471.0,1673.0,281.530185,18.0,25.702331,52.0,...,209.666667,188.166667,199.000000,228.083333,219.750000,210.833333,195.166667,177.666667,159.250000,4446.916667
4,Colusa,1066.25,31.0,0.0,306.0,1506.0,203.187251,11.0,79.150066,110.0,...,233.750000,223.916667,217.583333,216.583333,224.500000,229.750000,187.666667,165.250000,150.250000,4903.333333

In [20]:
# subset it - the exact variable names will be different for each bullet point
data2 = data[['abortion_rs_count_total', 'abortion_medicaid_expenditures', 'num_of_indiv_A20']]

In [21]:
data2.head()

   abortion_rs_count_total  abortion_medicaid_expenditures  num_of_indiv_A20
0                   3932.0                       400818.06       5709.666667
1                     24.0                          268.49         94.666667
2                   1477.0                       179813.97       1363.083333
3                     95.0                         3993.16        159.250000
4                     31.0                         1066.25        150.250000

In [25]:
# drop any remaining NAs
data2.dropna()
# create the target variable - this variable name will be different each time too

    abortion_rs_count_total  abortion_medicaid_expenditures  num_of_indiv_A20
0                    3932.0                       400818.06       5709.666667
1                      24.0                          268.49         94.666667
2                    1477.0                       179813.97       1363.083333
3                      95.0                         3993.16        159.250000
4                      31.0                         1066.25        150.250000
5                    4938.0                       860001.75       3921.500000
6                      82.0                          303.22        169.583333
7                     281.0                        11480.59        489.500000
8                    4894.0                       610093.30       7872.083333
9                     115.0                         5855.55        170.666667
10                   1048.0                        72043.25        708.500000
11                    326.0                        22656.33       1367.166667
12                     23.0                         1660.82         70.250000
13                   4243.0                       373915.27       6390.916667
14                    234.0                        12667.67        860.583333
15                    392.0                         8858.93        414.250000
16                     98.0                         1405.71        108.000000
17                  37817.0                      6451591.05      62000.416670
18                    401.0                        53610.21       1114.583333
19                    936.0                       137681.55        510.833333
20                     34.0                         1547.72         64.833333
21                    675.0                        53800.14        589.500000
22                    661.0                        26036.33       2364.083333
23                     15.0                          507.09         38.083333
24                     11.0                          284.80         50.750000
25                   1162.0                       160011.20       2661.833333
26                    406.0                        71130.79        451.083333
27                    232.0                         5166.20        302.416667
28                   6842.0                      1058066.55      13570.250000
29                    789.0                       134154.44        876.166667
30                     43.0                         1044.07         94.500000
31                   5662.0                       759009.13      13440.750000
32                   6244.0                       662075.55       8567.583333
33                    112.0                        17959.05        287.250000
34                   8998.0                      1285805.76      14416.583330
35                   7066.0                       989643.24      12714.666670
36                   3291.0                       389019.51       2478.916667
37                   4005.0                       275769.30       4648.500000
38                    308.0                        65447.47        899.416667
39                   2378.0                       209533.35       2068.666667
40                    702.0                       146329.56       2039.166667
41                   3684.0                       707896.94       6103.166667
42                    790.0                       156590.60       1097.916667
43                   1340.0                        70095.63        917.250000
45                    165.0                         1578.46        226.333333
46                   2642.0                       272060.71       1753.000000
47                   1952.0                       170796.00       1697.666667
48                   2536.0                       345628.18       3727.416667
49                    469.0                        70620.30        589.250000
50                    224.0                         6886.41        402.750000
51                     73.0                            0.00         59.416667
52                    585.0                        53036.76       3986.666667
53                     81.0                         2754.90        193.333333
54                   1913.0                       195961.16       3400.833333
55                    671.0                        45289.57        947.750000
56                    252.0                         7417.30        482.000000

In [26]:
y = data2['abortion_rs_count_total']
# create the predictor matrix - these variable names will be different each time too
X = data2[['abortion_medicaid_expenditures', 'num_of_indiv_A20']]

In [27]:
# instantiate the model
lr = LinearRegression()
# fit the model
lr.fit(X, y)
# score the model - this just is what it is, there's not a lot we can do to fix it, but it's something that will print out so you know everything worked
lr.score(X, y)

0.9897229253621748

In [4]:
data3 = pd.read_csv('./datasets/ca_dropout_and_predictors_v4.csv')

In [6]:
data3.head()

,county,abortion_medicaid_expenditures,abortion_rs_count_total,abortion_rs_count_total_suppressed,daycare_slots_child_facility_capacity,daycare_slots_child_total_pop,daycare_slots_child_rate_slots,daycare_slots_child_num_facility,daycare_slots_child_pct_nonwhite,daycare_slots_infant_facility_capacity,...,std_syphilis_supressed,sui_adjusted_rate_avg,unemployment_rate,medicaid_sum_0_20,gini_coef,dropout_sqrt,dropout_quar_rt,dropout_3rd_rt,dropout_not_zero,dropout_log
0,Alameda,400818.06,3932.0,0,30404,78508,387.272635,528,78.641667,2252.0,...,0,8.6655,4.775000,161534.166700,0.4630,2.774887,1.665799,1.974681,7.7001,2.041233
1,Amador,268.49,24.0,0,320,1202,266.222962,14,28.785358,24.0,...,1,24.0750,6.641667,3087.333333,0.4612,2.280351,1.510083,1.732478,5.2001,1.648678
2,Butte,179813.97,1477.0,0,2984,9973,299.207861,74,41.441893,443.0,...,0,16.9650,7.225000,30933.083331,0.4868,3.224903,1.795802,2.182786,10.4001,2.341815
3,Calaveras,3993.16,95.0,0,471,1673,281.530185,18,25.702331,52.0,...,1,22.9300,6.441667,4446.916667,0.4612,2.073644,1.440015,1.626133,4.3001,1.458638
4,Colusa,1066.25,31.0,0,306,1506,203.187251,11,79.150066,110.0,...,1,26.5700,15.583333,4903.333333,0.4751,2.408319,1.551876,1.796702,5.8001,1.757875

In [10]:
data4 = data3.drop(columns = ['ecigs_sold_pct_tobacco_stores_2013', 'abortion_rs_count_total_suppressed' ,'std_chlamydia_supressed', 'std_gonorrhea_supressed', 'std_syphilis_supressed'])

In [12]:
data3.shape

(57, 40)

In [14]:
data4.shape

(57, 35)

In [15]:
data4.to_csv('./datasets/ca_dropout_and_predictors_v5.csv')